h1 {color:green;width: 65px; font-family: sans-serif;}
        ul {background-color: orchid;}
        p {font-weight: 600;font-size: 3em;}
        body {background-color:gray;font-size: 16px;}
        .especial{background-color:rgb(109, 106, 106); color:blanchedalmond;width:"30 px";}
        .amarelo{background-color:yellow;font-style: italic;font-weight: bold;}
        .vermelho{background-color: red;font-style: italic;font-weight: bold;}
        .marrom{background-color: brown;font-style: italic;font-weight: bold;}